.mi{
width:20px;
height: 150px;
align-items:left;
background-position:center;
background-size:cover;
image-resolution:300dpi;
background-repeat: no-repeat;
background-image:  url('../../image/istockphoto-1251694108-170667a.jpg');
}
